.active{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.upcoming{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.past{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}


