.why-multi{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    position: relative;
}

#why-circles{
    position: absolute;
    right: -20%;
}

.why-multi-cont{
    width: 85%;
    max-width: 85%;
}

.why-multi-cont-1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.why-multi-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container{
    max-width: 90%;
}

#man-gif{
    width:100%;
}

.why-multi-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    font-family: 'Comfortaa', cursive;
}

@media (max-width:750px){

    .why-multi{
        margin-top: 100px;
    }

    .why-multi-left{
        width: 100%;
    }

    .why-multi-right{
        width: 100%;
    }

    #why-circles{
        width: 300px;
        right: -50%;
    }
}

@media (min-width:1500px){

    .why-multi-cont{
        width: 65%;
    }

    #why-circles{
        position: absolute;
        right: -10%;
    }

}