*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body{
  background-color: #140e38;
  font-family: 'Comfortaa', cursive;
}

.heading-1{
  font-size: 32px;
}

.heading-2{
  font-size: 24px;
}

.heading-3{
  font-size: 18px;
}

.heading-4{
  font-size: 14px;
}